{block content}
<h1 n:block="title">Prague</h1>
<p>Prague is the largest and capital city of the Czech Republic situated in the heart of Europe on the Vltava River. The Czech Republic shares its borders with Germany, Austria, Slovakia and Poland.</p>
<p>With a vast number of historical sites and monuments in many styles of architecture, Prague is famous for its rich history and is sometimes called the 'City of a Hundred Spires'.</p>
<p>The Gothic Charles Bridge, the Baroque Church of St. Nicolas, the famous astronomical clock, the Jewish Quarter best known from the novels of Franz Kafka. This is all evidence of its fascinating history that includes the Middle Ages, when Prague became the capital of the Holy Roman Empire under the reign of Charles IV. or the  prosperous period under the reign of Rudolf II. when Prague was the home of astronomers Johannes Kepler, Tycho de Brahe and painter Giuseppe Archimboldo.</p>
<p>Pragues mysterious and magical history can be felt while walking through its cobbled streets, while sitting in its many cafes or while rowing a boat on the Vltava River. It is also in Prague where the Art Nouveau movement flourished, with Alfons Mucha being one of its famous faces and where the Cubist movement got its say.</p>
<p>Not only pittoresque streets, nowadays Prague is a modern and pulsating city with many possibilities. The Charles University was founded in 1348, making it one of the oldest universities in the world. It is a leading research university that combines high-quality science, research and education on both a global and national scale and aims to continue being a symbol of education, culture and morality.</p>
<p>Prague holds a number of cultural events scaling from musical festivals, theatrical and ballet productions to festivals and exhibitions of contemporary art. In the last few years, Krymska Street has become one of the hotspots for a perfect night out with its number of galleries, cafes and bars.</p>
{/block}
