<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>{ifset title}{include title|stripHtml} | {/ifset}IFMSA - PRET & TNT</title>

        <meta property="og:title" content="IFMSA CZ - PRET & TNT" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{$baseUrl}" />
        <meta property="og:image" content="{$baseUrl}/images/prague-heart.png" />

        <link rel="shortcut icon" href="{$basePath}/images/favicon.ico">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{$basePath}/css/lightbox.min.css">
        <link rel="stylesheet" href="{$basePath}/css/styles.css?version=1">
    </head>
    <body>

        <header class="navbar navbar-full">
            <div class="social-area">
                <a href="{$appParams->getFacebookEventUrl()}" target="_blank">
                    <img alt="Facebook Event" src="{$basePath}/images/social/facebook.png">
                </a>
            </div>
            <div class="logo-area">
                <div class="text-center date-area"><span>27. 4. &#8211; 1. 5. 2017</span></div>
                <div class="text-center">
                    <a n:href="Homepage:"><img alt="Prague Heart" class="prague-heart" src="{$basePath}/images/prague-heart.png"></a>
                </div>
            </div>
        </header>

        <button class="navbar-toggler hidden-lg-up" id="nav-toggle" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        {control menu}

        <main>
            <div class="container">
                <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">{$flash->message}</div>
                {include content}
            </div>
        </main>

        <footer>
            <div class="text-center">
                &copy; 2017<span n:if="date('Y') > 2017">-{date('Y')}</span><span class="hidden-xs-down">;</span>
                <span class="hidden-xs-down">
                    Code: <a href="https://github.com/Neloop" target="_blank">Martin Polanka</a>;
                    Design: <a href="mailto:pivonkova.zuzana@seznam.cz" target="_blank">Zuzana Belková</a>
                </span>
            </div>
        </footer>

        {block scripts}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="{$basePath}/js/nette-live-form-validation-1.8.1/live-form-validation.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="{$basePath}/js/lightbox.min.js"></script>
        <script src="{$basePath}/js/recaptcha.js"></script>
        <script src="{$basePath}/js/pret-tnt.js?version=1"></script>
        {/block}
    </body>
</html>
