{block content}
<div class="row">
    <div class="col-sm-12 welcome-text">
        <p>Welcome to <b>PRET&TNT Prague 2017</b></p>
        <p>We opened <a n:href="Registration:information">Registration</a>! Don't hesitate and sign up!!</p>
        <p>You can also check out <a n:href="Pret:information">PRET Basic information</a>, <a n:href="Tnt:information">TNT Basic Information</a> or <a n:href="Venues:accommodation">Accommodation</a></p>
    </div>
</div>
{/block}
