{block content}
<h1 n:block="title">Participant</h1>
<table class="table">
    <tr>
        <th>{$labelsHelper->getLabel("firstname")}</th>
        <td>{$participant->firstname}</td>
    </tr>
</table>
{/block}
