#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
    siteName: "PRET & TNT"
    siteUrl: "https://pret.ifmsa.cz"
    siteAlternativeUrl: "https://tnt.ifmsa.cz"
    participantPaymentUrl: %siteUrl%/payment/start-transaction
    googleMapsApiKey: YOUR_API_KEY
    facebookEventUrl: "https://www.facebook.com"
    pretEvent:
        earlyStart: "YYYY-MM-DD HH:MM:SS"  # in UTC
        regularStart: "YYYY-MM-DD HH:MM:SS"  # in UTC
        end: "YYYY-MM-DD HH:MM:SS"  # in UTC
        earlyFee: 120  # in currency defined at payment.currency
        regularFee: 140  # in currency defined at payment.currency
    tntEvent:
        start: "YYYY-MM-DD HH:MM:SS"  # in UTC
        end: "YYYY-MM-DD HH:MM:SS"  # in UTC
        fee: 130  # in currency defined at payment.currency
    private:
        username: "user"
        password: "pass"
    emails:
        from: "from@from.from"
        reportTo: "to@to.to"  # after registration, report about participant is sent to this email
        subjectPrefix: "PRET&TNT CZ"
    payment:
        service: "pret-tnt"
        currency: 978  # ISO 4217: 203=CZK 978=EUR 840=USD 941=RSD 703=SKK 440=LTL 233=EEK 643=RUB 891=YUM
        serverAuthKey: ""
        serverStartTransactionUrl: ""
        serverGetTransactionResultUrl: ""


reCaptcha:
    siteKey: '<your_site_key>'
    secretKey: '<your_secret_key>'
    methodName: 'addReCaptcha'  # optional


application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter


http:
    proxy:
        - 103.21.244.0/22
        - 103.22.200.0/22
        - 103.31.4.0/22
        - 104.16.0.0/12
        - 108.162.192.0/18
        - 131.0.72.0/22
        - 141.101.64.0/18
        - 162.158.0.0/15
        - 172.64.0.0/13
        - 173.245.48.0/20
        - 188.114.96.0/20
        - 190.93.240.0/20
        - 197.234.240.0/22
        - 198.41.128.0/17
        - 199.27.128.0/21


session:
    expiration: 14 days


services:
    router: App\RouterFactory::createRouter
    authenticator: App\Security\MyAuthenticator

    # forms
    - App\Forms\RegistrationFormsFactory
    - App\Forms\LoginFormFactory

    # helpers
    - App\Helpers\AppParams(@container::getParameters())
    - App\Helpers\PretEventParams(%pretEvent%)
    - App\Helpers\TntEventParams(%tntEvent%)
    - App\Helpers\PretEventHelper
    - App\Helpers\TntEventHelper
    - App\Helpers\PrivateParams(%private%)
    - App\Helpers\RegistrationLabelsHelper
    - App\Helpers\Emails\EmailHelper
    - App\Helpers\Emails\RegistrationEmailsSender
    - App\Helpers\Emails\PaymentEmailsSender
    - App\Helpers\Emails\EmailsParams(%emails%)

    # payment
    - App\Helpers\Payment\PaymentConnection
    - App\Helpers\Payment\PaymentParams(%payment%)
    - App\Helpers\Payment\PaymentTransactionsHelper

    # repositories
    - App\Model\Repository\PaymentErrors
    - App\Model\Repository\PaymentTransactions
    - App\Model\Repository\Participants


extensions:
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    reCaptcha: ReCaptchaControl\DI\Extension


doctrine:
    user: 'root'
    password: ''
    host: localhost
    dbname: 'ifmsa-pret-tnt'
    metadata:
        App\Model: %appDir%/model
