{block nav}
        <nav>
            <ul>
                <li n:foreach="$items as $item"{if $item->active} class="active"{/if}>
                    {if $item->subItems}
                        <a href="#nav-{$item->linkPresenter}" data-toggle="collapse" aria-expanded="{$item->active ? 'true' : 'false'}" aria-controls="nav-{$item->linkPresenter}">{$item->name}</a>
                        <ul class="collapse{$item->active ? ' show' : ''}" id="nav-{$item->linkPresenter}">
                            <li n:foreach="$item->subItems as $subItem"{if $subItem->active} class="active"{/if}>
                                <a href="{plink $subItem->linkPresenter . ':' . $subItem->linkAction}">{$subItem->name}</a>
                            </li>
                        </ul>
                    {else}
                        <a href="{plink $item->linkPresenter . ':' . $item->linkAction}">{$item->name}</a>
                    {/if}
                </li>
            </ul>

            <a href="https://issuu.com/barborakubicova/docs/pretnt_invitation" target="_blank">
                <img class="invitation-package-heart" src="{$basePath}/images/invitation-package.png">
            </a>
        </nav>
{/block}
