{block content}
<h1 n:block="title">Registration complete</h1>
<div class="row">
    <div class="col-12">
        <p>Your registration was successful and further details were sent to your email account.</p>
    </div>
</div>
{/block}
