{block content}
<h1 n:block="title">Agenda</h1>
<p>The whole training will be held in a spirit of the main topic of the event - GLOBAL HEALTH AND THE SOCIAL DETERMINANTS OF HEALTH. The particular agenda will be announced before the event in advance.</p>
{/block}
