{block content}
<h1 n:block="title">Transaction Failed</h1>
<div class="row">
    <div class="col-12">
        <span class="alert-danger">Bank transaction not completed due to technical error.</span>
    </div>
</div>
{/block}