{block content}
<h1 n:block="title">Transaction Succeeded</h1>
<div class="row">
    <div class="col-12">
        <span class="text-success">Transaction successfully completed!</span>
    </div>
</div>
{/block}