html {
    position: relative;
    min-height: 100%;
}

body {
    min-height: 100%;
    /* Make room for footer */
    margin-bottom: 30px;
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    color: #9C2055;
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
}

a {
    color: #9c2055;
    text-decoration: none;
}

a:focus, a:hover {
    color: #651941;
    text-decoration: none;
}

.navbar {
    background-color: #c1e2e0;
    padding: 30px;
    padding-bottom: 0;
    z-index: 500;

}

.navbar-toggler {
    position: absolute;
    left: 0;
    margin: 1rem;
    border-color: #c1e2e0;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(193, 226, 224)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 997;
}

nav {
    display: block;
    position: absolute;
    float: left;
    overflow: hidden;
    width: 300px;
    margin: 0;
    z-index: 1000;
    transition: all 0.5s ease;
}

nav ul {
    padding-left: 0;
    margin: 0;
}

nav li {
    position: relative;
    display: block;
    padding: 0;
    margin-bottom: -1px;
    background-color: #e0f0ef;
    border: 1px solid #88c0c0;
}

nav li:last-child {
    margin-bottom: 0;
}

nav li:hover {
    background-color: #a1cece;
}

nav li.active {
    background-color: #a1cece;
}

nav li a {
    color: #651941;
    display: block;
    font-size: 1.1rem;
    font-weight: bold;
    padding: .5rem 1rem;
    text-transform: uppercase;
}

nav li a:hover {
    color: #651941;
    text-decoration: none;
}

nav li ul li {
    border: none;
    margin: 0;
    background-color: #ffffff;
    border-top: 1px solid #88C0BF;
}

nav li ul li a {
    color: #9c2055;
    padding: .5rem 2.5rem;
    font-size: .9rem;
    font-weight: normal;
}

.invitation-package-heart {
    padding: 0 1.8rem;
    width: 100%;
}

main {
    margin-top: 200px;
    /* Height of footer has to be added to margin */
    margin-bottom: 70px;
    padding-left: 300px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: black;
    color: white;
    font-size: 12px;
}

.date-area {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    height: 40px;
    line-height: 40px;
}

.date-area span {
    color: white;
    font-size: 40px;
}

.social-area {
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 0;
    margin: 0;
    /* Must be same as height in .date-area */
    height: 40px;
    z-index: 1000;
}

.social-area img {
    vertical-align: top;
    width: 40px;
    height: 40px;
}

.prague-heart {
    height: 300px;
    /* Same value or higher must be set in 'main' margin-top property */
    margin-bottom: -159px;
}

.welcome-text {
    font-size: 1.2rem;
}

.card {
    border-radius: 0;
}

.card img {
    border-radius: 0;
}

.card .card-footer {
    background-color: #e0f0ef;
}

.card-img-left {
    float: left;
    padding-right: 1em;
}

.content-img-card {
    width: 25%;
    margin: 10px;
}

.profile-img-card {
    width: 25%;
}

@media only screen and (max-width : 992px) {
    nav {
        width: 0;
    }

    main {
        padding-left: 0;
        margin-top: 150px;
    }

    .prague-heart {
        height: 200px;
        /* Same value or higher must be set in 'main' margin-top property */
        margin-bottom: -106px;
    }

    .date-area {
        height: 30px;
        line-height: 30px;
        margin-bottom: 15px;
    }

    .date-area span {
        font-size: 30px;
    }

    .social-area {
        height: 30px;
    }

    .social-area img {
        width: 30px;
        height: 30px;
    }

    .content-img-card {
        width: 50%;
    }
}

@media only screen and (max-width : 768px) {
    .navbar {
        padding: 20px;
    }

    main {
        margin-top: 130px;
    }

    .prague-heart {
        height: 150px;
        /* Same value or higher must be set in 'main' margin-top property */
        margin-bottom: -100px;
    }

    .date-area {
        height: 20px;
        line-height: 20px;
        margin-bottom: 10px;
    }

    .date-area span {
        font-size: 20px;
    }

    .social-area {
        top: 20px;
        right: 20px;
        height: 20px;
    }

    .social-area img {
        width: 20px;
        height: 20px;
    }
}
